<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<ul class="list-group list-group-flush">
   <% @posts.each do |post| %>
   <li class="list-group-item"><h5><%= post.title %></h5> <%= link_to 'Discussions', post_comments_path(post), class: {}%> | <%= link_to 'Update Post', edit_post_path(post) %></li>
   <%end%>
</ul>

<%= link_to 'New Post', new_post_path, {class: 'btn btn-info'} %>